* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color:honeydew;
}

body, .words-reel {
    font-family: monospace;
}

.words-reel {
    font-size: 24px;
    max-width: 60%;
    background-color: honeydew;
    /*
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; */
}

.cursor {
    background-color: lightgray;
}

.correct {
    color: grey ;
}

.incorrect {
    color: red;
}

.hidden {
        visibility: hidden;
}

.paused {
    position:fixed;
    top:1em;
}

.values {
    position:absolute;
    top:0;
    left:0;
    align-items: left;
}