* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color:black;
}

body, .words-reel {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.timer {
    position: absolute;
    top: 3rem;
    font-size: 3rem;
    color:seashell;
    font-weight: bold;
}

.words-reel {
    width: 100%;
    margin: auto;
    font-size: 1.2rem;
    border-radius: .5rem;
    padding: 1.5em;
    max-width: 90%;
    background-color: honeydew;
}

.cursor {
    background-color: lightgray;
}

.correct {
    color: grey ;
}

.incorrect {
    color: red;
    text-decoration: underline;
}
